::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
}
.easywrap {
    height: 100vh;
	overflow: hidden;
	position: relative;
}
.easybary {
    position: absolute;
    width: 3px;
    background-color: #c1c1c1;
    border-radius: 14px;
    top: 0;
    right: 1px;
}
.easybarx {
    position: absolute;
	height: 3px;
    background-color: #c1c1c1;
    border-radius: 14px;
    bottom: 1px;
    left: 0px;
}
.hidden {
    display: none;
}
